#undoBtn {

}
.arrowspace {

}
/*.curve{*/
    /*margin:0 auto;*/
    /*position:relative;*/
    /*width:100px;*/
    /*height:100px;*/
    /*border-top:1px solid red;*/
    /*border-left:1px solid red;*/
    /*border-top-left-radius:200px;*/
    /*float:left;*/
    /*margin-left:100px;*/
    /*box-shadow:inset 0 1px 0 black;*/
/*}*/

/*.curve:after{*/
    /*content:"";*/
    /*position:absolute;*/
    /*width:196px;*/
    /*height:196px;*/
    /*border-top:1px solid red;*/
    /*border-left:1px solid red;*/
    /*border-top-left-radius:196px;*/
    /*left:4px;*/
    /*top:4px;*/
    /*box-shadow:0 1px 0 black;*/
/*}*/

.arrowspace{
    /*-fx-border-color: #000;*/
    /*-fx-border-style: solid;*/
    /*-fx-border-width: 5px;*/
    /*-fx-border-color:#005599;*/
    /*-fx-border-radius: 50%/100px 100px 0 0;*/
    -fx-background-color: red;
}
.placeview {
    /*-fx-border-width: 2px;*/
    /*-fx-background-color: green;*/
}

.placeview:hover ,.transitioneview:hover {
    -fx-effect: innershadow(gaussian , darkgreen, 15, 0, 0, 0);
    -fx-cursor: OPEN_HAND;
}
.transitioneview:hover {
    -fx-effect: innershadow(gaussian , blue, 8, 0, 0, 0);
}
.placeview:pressed  ,.transitioneview:pressed {
    -fx-effect: dropshadow(three-pass-box, darkgreen, 10, 0, 0, 0);
    -fx-cursor: CLOSED_HAND;
}
.transitioneview:pressed {
    -fx-effect: dropshadow(three-pass-box, darkblue, 10, 0, 0, 0);
}
arrowview:hover{
    -fx-effect: dropshadow(three-pass-box, red, 10, 0, 0, 0);
    -fx-cursor: OPEN_HAND;
}
arrowview:pressed{
    -fx-effect: dropshadow(three-pass-box, darkred, 10, 0, 0, 0);
    -fx-cursor: CLOSED_HAND;
}
AnchorPane {
    -fx-background-color: #005599;
}
P1 {
    -fx-background-color: #005599;
}

#transitionRadio:focused {
    -fx-focus-color: rgba(236, 12, 0, 0.49);
}
#placeRadio:focused {
    -fx-focus-color: rgba(0, 236, 25, 0.46);
}
#arrowRadio:focused {
    -fx-focus-color: rgba(37, 92, 255, 0.42);
}

#arrowRadio , #placeRadio , #transitionRadio {
    -fx-focus-color: transparent;
}
#transitionRadio .dot , #arrowRadio .dot , #placeRadio .dot{
    -fx-focus-color: transparent;
    -fx-padding: 10px;
    -fx-background-color:transparent;
    -fx-background-insets: -10, -10;
    -fx-background-image: url("/images/transition.png");
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}
#arrowRadio .dot{
    -fx-background-image: url("/images/Arrow-ms.png")  ;
}
#placeRadio .dot {
    -fx-background-image: url("/images/place-sm.png")  ;
}

#transitionRadio:selected {
    -fx-effect: dropshadow(three-pass-box, red, 6, 0, 0, 0);
}
#arrowRadio:selected {
    -fx-effect: dropshadow(three-pass-box, blue, 6, 0, 0, 0);

}
#placeRadio:selected
{
    -fx-effect: dropshadow(three-pass-box, green, 6, 0, 0, 0);
}
#transitionRadio:selected .dot,
#arrowRadio:selected .dot,
#placeRadio:selected .dot {
    -fx-padding: 10px;
    -fx-focus-color: transparent;
    /*-fx-background-color: #f48893;*/
    -fx-background-insets: -10, -10;
    -fx-background-image: url("/images/transition-selected.png")  ;
    -fx-background-position: left top, center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}
 #arrowRadio:selected .dot{
     -fx-background-image: url("/images/arrow-selected.png")  ;
 }
#placeRadio:selected .dot {
    -fx-background-image: url("/images/place-selected.png")  ;
}

/**
Scroll Pane Style
 */
.scroll-pane {
    -fx-background-color: rgba(0, 0, 0, 0.42);
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: rgba(0, 0, 0, 0.42);

}